<template>
  <div id="app">
    <div class="content__wrapper">
      <div class="input__wrapper">
        <label for="phase">Phase: </label><br />
        <input
          type="text"
          id="phase"
        />
      </div>

      <div class="input__wrapper">
        <label for="frequency">Frequency: </label>
        <input
          type="text"
          id="frequency"
        />
      </div>
      <div class="values">
        <table>
          <tr>
            <th></th>
            <th>New Value</th>
            <th>Old Value</th>
          </tr>
          <tr>
            <td style="font-weight: bold">Phase</td>
            <td>New Value...</td>
            <td>Old Value...</td>
          </tr>
          <tr>
            <td style="font-weight: bold">Frequency</td>
            <td>New Value...</td>
            <td>Old Value...</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "App"
};
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.input__wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 500px;
  margin: 10px;
}

.content__wrapper {
  border: 1px solid black;
  width: 30%;
  border-radius: 5px;
}

.values {
  padding: 10px;
}
input {
  width: 100px;
  padding: 5px;
  font-size: 20px;
  box-shadow: 0 0 2px 0 black;
  border-radius: 5px;
}

label {
  font-size: 28px;
  margin: 0 10px 0 0;
}

table,
td,
th {
  border: 1px solid black;
  padding: 10px;
  font-size: 20px;
}
table {
  width: 100%;
}
th {
  color: brown;
}
</style>
